DSN_AREQUIPA=postgresql://postgres:postgres@localhost:5435/almacen_arequipa
DSN_LIMA=postgresql://postgres:postgres@localhost:5436/almacen_lima
DSN_CUSCO=postgresql://postgres:postgres@localhost:5437/almacen_cusco
