DSN_AREQUIPA=postgresql://postgres:postgres@localhost:5438/sucursal_arequipa
DSN_CUSCO=postgresql://postgres:postgres@localhost:5439/sucursal_cusco
DSN_TRUJILLO=postgresql://postgres:postgres@localhost:5440/sucursal_trujillo
